#DATABASE_URL=postgresql+asyncpg://user1:user1@postgres:5432/rca_db

# Used by docker-compose to create the database
POSTGRES_DB=rca_db
POSTGRES_USER=user1
POSTGRES_PASSWORD=user1

# Used by the app and alembic. Use localhost when running on your machine.
DATABASE_URL=postgresql+asyncpg://user1:user1@localhost:5432/rca_db